body {
  color: #000;
  background-color: #fbfbfb;
  font-size: 24px;
  font-family: 'Linux Libertine',serif;
  line-height: 140%;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-family: 'Linux Biolinum',sans;
}

h1 {
  font-size: 150%;
  line-height: 110%;
}

h2 {
  font-size: 115%;
}

h3 {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}

h1 > .anchor, h2 > .anchor, h3 > .anchor, h4 > .anchor, h5 > .anchor, h6 > .anchor {
  float: left;
  margin-left: -26px;
  padding-right: 6px;
  text-decoration: none;
  outline: none;
  font-size: 1.2rem;
}
h1 > .anchor:hover, h2 > .anchor:hover, h3 > .anchor:hover, h4 > .anchor:hover, h5 > .anchor:hover, h6 > .anchor:hover {
  background-color: transparent;
}
h1 > .anchor .fas, h2 > .anchor .fas, h3 > .anchor .fas, h4 > .anchor .fas, h5 > .anchor .fas, h6 > .anchor .fas {
  visibility: hidden;
  color: grey;
}
h1:hover > .anchor .fas, h2:hover > .anchor .fas, h3:hover > .anchor .fas, h4:hover > .anchor .fas, h5:hover > .anchor .fas, h6:hover > .anchor .fas {
  visibility: visible;
}

a {
  color: #5b6ee1;
  text-decoration: none;
}

a:hover {
  color: #306082;
  background-color: #aaaaaa2c;
}

a:visited {
  color: #306082;
}

pre {
  font-family: "Inconsolata",monospace;
  line-height: 110%;
  min-width: 100%;
  padding: 1rem;
  background-color: #222034;
  color: #deeed6;
  border-radius: 4px;
  display: inline-block;
}

code {
  font-family: "Inconsolata",monospace;
  border-radius: 3px;
  padding: .2em .4em;
  background-color: #1b1f230d;
  color: #6a737d;
}

blockquote {
  padding-left: 2rem;
  border-left: 5px solid #eee;
  font-style: italic;
}

span.new-content {
  content: "";
  border-radius: 100%;
  background-color: teal;
  filter: blur(.15px);
  width: .4em;
  height: .4em;
  display: inline-block;
  margin-left: .2em;
  margin-bottom: .5em;
}

.fas {
  color: teal;
}

.icon-stuck-right {
  margin-left: .2em;
}

.img-icon {
  width: 1em;
  height: 1em;
  vertical-align: sub;
  margin-right: 0.5em;
}

:target {
  animation: target-fade 5s ease-in;
}

@keyframes target-fade {
  0% { background-color: rgba(255, 255, 0, .3); }
  100% { background-color: default; }
}

/* Overall layout */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Banner */

.banner {
  text-align: center;
  margin-bottom: 50px;
}

.banner h2:before {
  border-top: 3px solid #340051;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80px;
  display: block;
  content: "";
}

/* Body */

.body {
  margin-bottom: 40px;
}

.speaker-invited {
  display: grid;
  grid-template-areas:
    "image name institution"
    "image title title"
    "image blurb blurb";
  grid-template-columns: min-content min-content auto;
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 30px;
}
.speaker-invited.noblurb {
  grid-template-areas:
    "image name institution"
    "image title title";
  row-gap: 0;
}

.speaker-invited .institution small {
  color: gray;
  border-left: 1px solid gray;
  padding-left: 20px;
}

.speaker-invited .image {
  grid-area: image;
  width: max-content;
  margin: 10px;
}
.speaker-invited.noblurb .image {
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 0;
}

.speaker-invited .image img {
  vertical-align: top;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 1px solid lightgray;
}
.speaker-invited.noblurb .image img {
  height: 60px;
  width: 60px;
}

.speaker-invited .name {
  grid-area: name;
  white-space: nowrap;
  padding-top: 10px;
}
.speaker-invited.noblurb .name {
  padding-top: 0;
}

.speaker-invited .institution {
  grid-area: institution;
  padding-top: 10px;
}
.speaker-invited.noblurb .institution {
  padding-top: 0;
}

.speaker-invited .title {
  grid-area: title;
}

.speaker-invited .blurb {
  grid-area: blurb;
}

@media (max-width: 800px) {
  .speaker-invited .image img {
    height: 80px;
    width: 80px;
  }
  .speaker-invited {
    grid-template-areas: "image name"
                         "image institution"
                         "title title"
                         "blurb blurb";
    grid-template-columns: min-content auto;
    grid-template-rows: auto 1fr auto auto;
    row-gap: 0;
  }
  .speaker-invited.noblurb {
    grid-template-areas: "image name"
                         "image institution"
                         "title title";
    grid-template-rows: auto 1fr auto;
  }
  .speaker-invited .image {
    margin: 10px 0 0 0;
  }
  .speaker-invited .institution {
    padding: 0;
  }
  .speaker-invited .institution small {
    border-left: none;
    padding-left: 0;
  }
  .speaker-invited .title{
    margin-top: 10px;
  }
  .speaker-invited .blurb {
    margin-top: 10px;
  }
}

.passed {
  color: grey;
}

table.programme {
  border: solid lightgray;
  border-width: 0 1px 1px 0;
}

table.programme td {
  border: solid lightgray;
  border-width: 1px 0 0 1px;
  padding: 6px 8px;
}
table.programme td.time-start {
  color: #444;
}
table.programme td.time-sep {
  color: #999;
  border-left-width: 0;
  padding-right: 0;
  padding-left: 0;
}
table.programme td.time-end {
  color: #444;
  border-left-width: 0;
}
table.programme td.broadcast {
  border-left-width: 0;
}
table.programme .broadcast-unknown {
  cursor: not-allowed;
}

table.programme tr.talk { background-color: #e6e6e6; }
table.programme tr:hover { background-color: hsla(222, 100%, 25%, 0.15); }


/* Venue map */

.venue-map {
  overflow: hidden;
  padding-top: 400px;
  position: relative;
  border: 1px solid gray;
}

.venue-map iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Video streams */

.video {
  display: flex;
  justify-content: center;
}
.video iframe {
  width: 560px;
  height: 315px;
  border: none;
}

/* Footer */

footer {
  border-top: 1px solid #ccc;
  font-size: 80%;
  margin-top: auto;
  margin-left: 40px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

footer .smallprint {
  color: gray;
}

.cc-button {
  margin-left: 1rem;
  opacity: 60%;
}

@media (max-width: 800px) {
  footer {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Navigation */

.nav {
  display: flex;
  font-family: 'Linux Biolinum',sans;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #eee;
}

.nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 20px 0 0 0;
}

.nav li {
  display: inline;
  padding: 1rem;
}

.nav li:first-child {
  padding-left: 0;
}

.nav a {
  display: inline-block;
  color: #000;
}

.nav a:hover {
  color: #000;
}

.nav a:visited {
  color: #000;
}

.nav .institution-logos {
  text-align: center;
  flex-shrink: 5;
}
.nav .institution-logo {
  margin-top: 5px;
  margin-left: 5px;
}
.nav .institution-logo img {
  vertical-align: top;
  height: 60px;
}

@media (min-width: 1140px) {
  .container {
    margin-left: 14rem;
    margin-right: 4rem;
    max-width: 52rem;
  }
}

@media (min-width: 800px) and (max-width: 1140px) {
  .container {
    margin-left: 6rem;
    margin-right: 4rem;
    max-width: 52rem;
  }
}

@media (max-width: 800px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav .institution-logo img {
    height: 40px;
  }
}

.fade-text {
  color: #ddd;
}

/* Summaries */

.summary {
  margin-bottom: 3rem;
}

.summary .date {
  margin-bottom: 0rem;
}

.summary p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Posts */

.date {
  margin-top: -1rem;
  margin-bottom: 2rem;
  color: #666;
}

.post img, .centered-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
  border-radius: 4px;
}

.post video {
  display: block;
  margin: 0 auto;
  padding: 0px;
  max-width: 100%;
}

.caption {
  text-align: center;
  margin: 0;
  margin-left: 4rem;
  margin-right: 4rem;
}

/* Syntax Highlighting */

.syntax-special, .syntax-element {
  color: #8ac6f2;
  font-weight: bold;
}

.syntax-string {
  color: #95e454;
}

.syntax-keyword, .syntax-attribute {
  color: #e5786d;
}

.syntax-comment {
  color: #999;
}

.syntax-open, .syntax-close {
  color: #999;
}
